*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html{
    background-color: black;
    background-image: url(../images/bois.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img, div{
    width: 20%;
    display: block;
    /* margin:0 45%; */
    /* left:45px; */
    /* display: flex;  */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
img{
    width:60%;
    height: 60%;
}
h1{
    color: white;
    text-align: center;
    padding: 3rem;
    text-decoration: underline;
    font-size: 60px;
}
p{
    font-size: 25px;
}

.produit>p{
    margin-right: 0 ;
    padding: 1rem;
}
.produit>p:first-child,.produit>a{
    font-size:35px;
    font-weight: bold;
    color:rgb(255, 0, 0);
}
.prices{
    color:rgb(77, 255, 0);
}


nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-bottom: 2px solid white;
}
nav>a{
    margin: 0 auto;
    padding: 10px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    
}
nav>a:hover{
    background-color: white;
    color:black;
}

/* Barre de scroll */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

@media (min-width: 320px) and (max-width: 768x) {
    h1{
        font-size: 5px; /* Taille du texte pour les titres sur tablettes */
    }
    
    a {
        font-size: 18px; /* Taille du texte pour les liens sur tablettes */
    }
    
    p {
        font-size: 16px; /* Taille du texte pour les paragraphes sur tablettes */
    }
}   